<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements. See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership. The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<configuration status="WARN" monitorInterval="30">
    <Properties>
        <property name="basePath">${sys:agent.home}/logs</property>
        <property name="log_pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} -%5p ${PID:-} [%30.30t] %-30.30C{1.}:%L %m%n</property>
        <property name="every_file_date">1</property>
        <property name="every_file_size">1G</property>
        <property name="output_log_level">INFO</property>
        <property name="rolling_max">15</property>
        <property name="debug_fileName">${basePath}/debug.log</property>
        <property name="debug_filePattern">${basePath}/debug-%d{yyyy-MM-dd}-%i.log.gz</property>
        <property name="debug_max">10</property>
        <property name="info_fileName">${basePath}/info.log</property>
        <property name="info_filePattern">${basePath}/info-%d{yyyy-MM-dd}-%i.log.gz</property>
        <property name="info_max">10</property>
        <property name="warn_fileName">${basePath}/warn.log</property>
        <property name="warn_filePattern">${basePath}/warn-%d{yyyy-MM-dd}-%i.log.gz</property>
        <property name="warn_max">10</property>
        <property name="error_fileName">${basePath}/error.log</property>
        <property name="error_filePattern">${basePath}/error-%d{yyyy-MM-dd}-%i.log.gz</property>
        <property name="error_max">10</property>
        <property name="console_print_level">INFO</property>
        <property name="index_max">10</property>
        <property name="index_fileName">${basePath}/index.log</property>
        <property name="index_filePattern">${basePath}/index-%d{yyyy-MM-dd}-%i.log.gz</property>
        <property name="monitors_max">10</property>
        <property name="monitors_fileName">${basePath}/monitors.log</property>
        <property name="monitors_filePattern">${basePath}/monitors-%d{yyyy-MM-dd}-%i.log.gz</property>
        <property name="last_modify_time">15d</property>
        <property name="log.file.name.event.discard.prefix">DBSync_event_discard.log</property>
        <property name="log.file.name.job.stat.prefix">DBSync_job_stat.log</property>
        <property name="log.file.name.job.task.prefix">DBSync_job_task.log</property>
        <property name="log.file.name.job.dump.prefix">DBSync_job_dump.log</property>
        <property name="log.file.name.job.update.zk.prefix">DBSync_job_zk_position.log</property>
        <property name="log.file.name.job.sender.metric.prefix">DBSync_job_sender_metric.log</property>
        <property name="log.file.name.job.report.prefix">DBSync_job_report.log</property>
        <property name="log.file.name.job.manager.report.prefix">DBSync_job_manager_report.log</property>
        <property name="log.file.name.job.sender.report.prefix">DBSync_job_sender_report.log</property>
        <property name="log.file.name.job.big.field.prefix">DBSync_job_big_field.log</property>
        <property name="log.file.name.job.coordinator.prefix">DBSync_job_coordinator.log</property>
        <property name="log.file.name.pulsar.prefix">DBSync_pulsar.log</property>
        <property name="log.file.name.start.position.change.prefix">DBSync_start_position_changed.log</property>
        <property name="log.file.name.alter.field.prefix">DBSync_alter_field.log</property>
        <property name="log.file.info.name.postfix"></property>
    </Properties>

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="${console_print_level}" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${log_pattern}"/>
        </Console>

        <RollingFile name="DebugFile" fileName="${debug_fileName}" filePattern="${debug_filePattern}">
            <PatternLayout pattern="${log_pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${every_file_date}"/>
                <SizeBasedTriggeringPolicy size="${every_file_size}"/>]
            </Policies>
            <DefaultRolloverStrategy max="${debug_max}">
                <Delete basePath="${basePath}" maxDepth="1">
                    <IfFileName glob="debug*.log.gz"/>
                    <IfLastModified age="${last_modify_time}"/>
                </Delete>
            </DefaultRolloverStrategy>
            <Filters>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <RollingFile name="InfoFile" fileName="${info_fileName}" filePattern="${info_filePattern}">
            <PatternLayout pattern="${log_pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${every_file_date}"/>
                <SizeBasedTriggeringPolicy size="${every_file_size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${info_max}">
                <Delete basePath="${basePath}" maxDepth="1">
                    <IfFileName glob="info*.log.gz"/>
                    <IfLastModified age="${last_modify_time}"/>
                </Delete>
            </DefaultRolloverStrategy>
            <Filters>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <RollingFile name="IndexFile" fileName="${index_fileName}" filePattern="${index_filePattern}">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${every_file_date}"/>
                <SizeBasedTriggeringPolicy size="${every_file_size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${index_max}">
                <Delete basePath="${basePath}" maxDepth="1">
                    <IfFileName glob="index*.log.gz"/>
                    <IfLastModified age="${last_modify_time}"/>
                </Delete>
            </DefaultRolloverStrategy>
            <Filters>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <RollingFile name="MonitorFile" fileName="${monitors_fileName}" filePattern="${monitors_filePattern}">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${every_file_date}"/>
                <SizeBasedTriggeringPolicy size="${every_file_size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${monitors_max}">
                <Delete basePath="${basePath}" maxDepth="1">
                    <IfFileName glob="monitors*.log.gz"/>
                    <IfLastModified age="${last_modify_time}"/>
                </Delete>
            </DefaultRolloverStrategy>
            <Filters>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <RollingFile name="WarnFile" fileName="${warn_fileName}" filePattern="${warn_filePattern}">
            <PatternLayout pattern="${log_pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${every_file_date}"/>
                <SizeBasedTriggeringPolicy size="${every_file_size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${warn_max}">
                <Delete basePath="${basePath}" maxDepth="1">
                    <IfFileName glob="warn*.log.gz"/>
                    <IfLastModified age="${last_modify_time}"/>
                </Delete>
            </DefaultRolloverStrategy>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <RollingFile name="ErrorFile" fileName="${error_fileName}" filePattern="${error_filePattern}">
            <PatternLayout pattern="${log_pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="${every_file_date}"/>
                <SizeBasedTriggeringPolicy size="${every_file_size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${error_max}">
                <Delete basePath="${basePath}" maxDepth="1">
                    <IfFileName glob="error*.log.gz"/>
                    <IfLastModified age="${last_modify_time}"/>
                </Delete>
            </DefaultRolloverStrategy>
            <Filters>
                <ThresholdFilter level="FATAL" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <RollingFile name="RollingEventDiscardMonitorInfo" fileName="${basePath}/monitor/${log.file.name.event.discard.prefix}${log.file.info.name.postfix}"
                     filePattern="${basePath}/monitor/${log.file.name.event.discard.prefix}${log.file.info.name.postfix}.%i">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}][%p]-[%C{1}:%L]-%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1GB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
        <RollingFile name="RollingJobRunStatMonitorInfo" fileName="${basePath}/monitor/${log.file.name.job.stat.prefix}${log.file.info.name.postfix}"
                     filePattern="${basePath}/monitor/${log.file.name.job.stat.prefix}${log.file.info.name.postfix}.%i">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}][%p]-[%C{1}:%L]-%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1GB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
        <RollingFile name="RollingStartPositionChangedMonitorInfo" fileName="${basePath}/monitor/${log.file.name.start.position.change.prefix}${log.file.info.name.postfix}"
                     filePattern="${basePath}/monitor/${log.file.name.start.position.change.prefix}${log.file.info.name.postfix}.%i">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}][%p]-[%C{1}:%L]-%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1GB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
        <RollingFile name="RollingBigFieldMonitorInfo" fileName="${basePath}/monitor/${log.file.name.job.big.field.prefix}${log.file.info.name.postfix}"
                     filePattern="${basePath}/monitor/${log.file.name.job.big.field.prefix}${log.file.info.name.postfix}.%i">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}][%p]-[%C{1}:%L]-%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1GB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
        <RollingFile name="RollingJobReport" fileName="${basePath}/monitor/${log.file.name.job.report.prefix}${log.file.info.name.postfix}"
                     filePattern="${basePath}/monitor/${log.file.name.job.report.prefix}${log.file.info.name.postfix}.%i">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}][%p]-[%C{1}:%L]-%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1GB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
        <RollingFile name="RollingJobManagerReport" fileName="${basePath}/monitor/${log.file.name.job.manager.report.prefix}${log.file.info.name.postfix}"
                     filePattern="${basePath}/monitor/${log.file.name.job.manager.report.prefix}${log.file.info.name.postfix}.%i">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}][%p]-[%C{1}:%L]-%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1GB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
        <RollingFile name="RollingJobSenderReport" fileName="${basePath}/monitor/${log.file.name.job.sender.report.prefix}${log.file.info.name.postfix}"
                     filePattern="${basePath}/monitor/${log.file.name.job.sender.report.prefix}${log.file.info.name.postfix}.%i">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}][%p]-[%C{1}:%L]-%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1GB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
        <RollingFile name="RollingPulsar" fileName="${basePath}/monitor/${log.file.name.pulsar.prefix}${log.file.info.name.postfix}"
                     filePattern="${basePath}/monitor/${log.file.name.pulsar.prefix}${log.file.info.name.postfix}.%i">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}][%p]-[%C{1}:%L]-%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1GB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
        <RollingFile name="RollingSendMetric" fileName="${basePath}/monitor/${log.file.name.job.sender.metric.prefix}${log.file.info.name.postfix}"
                     filePattern="${basePath}/monitor/${log.file.name.job.sender.metric.prefix}${log.file.info.name.postfix}.%i">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}][%p]-[%C{1}:%L]-%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1GB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
        <RollingFile name="RollingAlterFieldMonitorInfo" fileName="${basePath}/monitor/${log.file.name.alter.field.prefix}${log.file.info.name.postfix}"
                     filePattern="${basePath}/monitor/${log.file.name.alter.field.prefix}${log.file.info.name.postfix}.%i">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}][%p]-[%C{1}:%L]-%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1GB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
        <RollingFile name="RollingJobCoordinatorInfo" fileName="${basePath}/monitor/${log.file.name.job.coordinator.prefix}${log.file.info.name.postfix}"
                     filePattern="${basePath}/monitor/${log.file.name.job.coordinator.prefix}${log.file.info.name.postfix}.%i">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}][%p]-[%C{1}:%L]-%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1GB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
        <RollingFile name="RollingJobTaskInfo" fileName="${basePath}/monitor/${log.file.name.job.task.prefix}${log.file.info.name.postfix}"
                     filePattern="${basePath}/monitor/${log.file.name.job.task.prefix}${log.file.info.name.postfix}.%i">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}][%p]-[%C{1}:%L]-%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1GB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
        <RollingFile name="RollingJobDumpInfo" fileName="${basePath}/monitor/${log.file.name.job.dump.prefix}${log.file.info.name.postfix}"
                     filePattern="${basePath}/monitor/${log.file.name.job.dump.prefix}${log.file.info.name.postfix}.%i">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}][%p]-[%C{1}:%L]-%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1GB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
        <RollingFile name="RollingJobZkPositionInfo" fileName="${basePath}/monitor/${log.file.name.job.update.zk.prefix}${log.file.info.name.postfix}"
                     filePattern="${basePath}/monitor/${log.file.name.job.update.zk.prefix}${log.file.info.name.postfix}.%i">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}][%p]-[%C{1}:%L]-%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1GB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
    </appenders>

    <loggers>
        <!--默认不打印-->
        <logger name="org.apache.pulsar" level="error" additivity="false">
            <appender-ref ref="RollingPulsar"/>
        </logger>
        <logger name="eventDiscardMonitor" level="info" additivity="false">
            <appender-ref ref="RollingEventDiscardMonitorInfo"/>
        </logger>
        <logger name="jobBigFieldMonitor" level="info" additivity="false">
            <appender-ref ref="RollingBigFieldMonitorInfo"/>
        </logger>
        <!--显示的当前链接的db ip-port信息-->
        <logger name="jobRunStatMonitor" level="info" additivity="false">
            <appender-ref ref="RollingJobRunStatMonitorInfo"/>
        </logger>
        <logger name="startPositionChangedMonitor" level="info" additivity="false">
            <appender-ref ref="RollingStartPositionChangedMonitorInfo"/>
        </logger>
        <logger name="jobAlterFieldMonitor" level="info" additivity="false">
            <appender-ref ref="RollingAlterFieldMonitorInfo"/>
        </logger>
        <logger name="jobReport" level="info" additivity="false">
            <appender-ref ref="RollingJobReport"/>
        </logger>
        <logger name="jobManagerReport" level="info" additivity="false">
            <appender-ref ref="RollingJobManagerReport"/>
        </logger>
        <logger name="jobSenderReport" level="info" additivity="false">
            <appender-ref ref="RollingJobSenderReport"/>
        </logger>
        <!--数据量太大，默认不打印-->
        <logger name="jobSendMetric" level="error" additivity="false">
            <appender-ref ref="RollingSendMetric"/>
        </logger>
        <logger name="jobCoordinator" level="info" additivity="false">
            <appender-ref ref="RollingJobCoordinatorInfo"/>
        </logger>
        <logger name="jobTaskMonitor" level="info" additivity="false">
            <appender-ref ref="RollingJobTaskInfo"/>
        </logger>
        <logger name="jobDumpMonitor" level="info" additivity="false">
            <appender-ref ref="RollingJobDumpInfo"/>
        </logger>
        <logger name="jobZkPositionMonitor" level="info" additivity="false">
            <appender-ref ref="RollingJobZkPositionInfo"/>
        </logger>
        <root level="${output_log_level}">
            <appender-ref ref="Console"/>
            <appender-ref ref="DebugFile"/>
            <appender-ref ref="InfoFile"/>
            <appender-ref ref="WarnFile"/>
            <appender-ref ref="ErrorFile"/>
        </root>
    </loggers>
</configuration>