/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
:global {
  .tea-layout__header {
    overflow: hidden;
  }
  .full-screen {
    .tea-layout__header {
      height: 0px;
      overflow: hidden;
    }
  }
  .tea-nav__logo{
    &::before{
      border: none;
    } 
  }
}
.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 8px;
}
.userInfo {
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}
.activeText{
  color: #fff;
  // opacity: 1 !important;
  &:hover{
    color: #fff !important;
    opacity: 0.8 !important;
  }
}
.noActiveText{
  color: #fff;
  opacity: 0.5;
  &:hover{
    color: #fff !important;
  }
}

.dropdownButton {
  color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  display: flex;
  align-items: center;
  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}

.dropdown{
  margin-left: 10px;
  border-radius: 3px;
  text-align: center;
  padding: 0 8px;
  border:1px solid #344158;
  background-color: rgba(255, 255, 255, 0.05);
}

.projectList{
  background-color: #262F3E;
  color: rgba(255, 255, 255, 0.8);;
}
.projectListItem{
  padding-left: 10px;
  padding-bottom: 10px;
  min-height: 20px;
}

.headerMenuItem{
  font-size: 14px;
  font-weight: 600;
}

.subMenuItem{
  margin-top: 5px;
  :global{
    .tea-menu__item{
      align-items: center;
    }
  }
}
